USE [DW_SAP_PRD]

CREATE TABLE [dbo].[D_INDICADOR_META](
	[ID_INDICADOR] [int] NOT NULL PRIMARY KEY,
	[DES_INDICADOR] [varchar](100) NULL
) ON [PRIMARY]


CREATE TABLE [dbo].[D_INDICADOR_REGION](
	[ID_INDICADOR_REGION] [int] NOT NULL PRIMARY KEY,
	[DES_REGION] [varchar](100) NULL
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[F_INDICADOR_META]( -- Truncate table F_INDICADOR_META
	[ID_INDICADOR] [int] NULL,
	[ID_INDICADOR_REGION] [int] NULL,
	[META_NUMERO] [decimal](8, 4) NULL,
	[META_PORCENTAJE] [decimal](8, 4) NULL
) ON [PRIMARY]

ALTER TABLE [F_INDICADOR_META] ADD CONSTRAINT FK_ID_INDICADOR FOREIGN KEY (ID_INDICADOR) references D_INDICADOR_META(ID_INDICADOR) 
ALTER TABLE [F_INDICADOR_META] ADD CONSTRAINT FK_ID_INDICADOR_REGION FOREIGN KEY (ID_INDICADOR_REGION) references D_INDICADOR_REGION(ID_INDICADOR_REGION) 

select * from [D_INDICADOR_META]
select * from [D_INDICADOR_REGION]
select * from [F_INDICADOR_META]

select * from [VD_INDICADOR_META]
select * from [VD_INDICADOR_REGION]
select * from [VF_INDICADOR_META]


--sp_refreshview [VD_INDICADOR_META]
--sp_refreshview [VD_INDICADOR_REGION]
--sp_refreshview [VF_INDICADOR_META]

--drop table [D_INDICADOR_META]
--drop table [F_INDICADOR_META]

select t1.ID_INDICADOR, t2.DES_INDICADOR, t3.DES_REGION, t1.META_NUMERO, t1.META_PORCENTAJE
from [VF_INDICADOR_META] t1
join [VD_INDICADOR_META] t2 on t1.ID_INDICADOR=t2.ID_INDICADOR
join [VD_INDICADOR_REGION] t3 on t1.ID_INDICADOR_REGION=t3.ID_INDICADOR_REGION









